# os
Thumbs.db
.DS_Store

# ide
.idea
.vscode

# auto generated
**/*.pyc
*.autosave
*.user
*.user.*
CMakeSettings.json
.vs
__pycache__

# my app
/build
/dist
*.tar.*
node_modules
package-lock.json
/*.dmg
